@import url('./variables.css');

/* BASE */
body {
  color: var(--color-text);
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.text-center { text-align: center; }
.bg-light { background: var(--color-light); }
.bg-dark { background: var(--color-dark); color: #fff; }
.bg-primary { background: var(--color-primary); color: #fff; }
.mt-2 { margin-top: var(--spacing-lg); }
.mb-2 { margin-bottom: var(--spacing-lg); }